@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap");

body {
  font-family: 'Barlow Semi Condensed';
  color: white;
  background-image: url("https://raw.githubusercontent.com/datamesse/naturaldisasters/main/src/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0f0f0f;
}

.section-top {
  width: auto;
  height: 90vh;
  border: 1px solid red;
}

.section-bottom {
  width: auto;
  height: 10vh;
  border: 1px solid blue;
}

.dashboard-title {
  font-size: 9vh;
  width: 50vw;
  height: 100%;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid yellow;
}

.external-link {
  display: inline-block;
  border: 1px solid greenyellow;
}

.external-link a {
  color: white;
  text-decoration: none;
}

.external-link img {
  height: 35px;
  width: 35px;
}