@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Barlow:wght@100&display=swap");

body {
  font-family: 'Barlow Semi Condensed';
  color: white;
  background-image: url("https://raw.githubusercontent.com/datamesse/naturaldisasters/main/src/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0f0f0f;
}

/* -------------- DASHBOARD MAINSCREEN -------------- */

.section-top {
  width: auto;
  height: 90vh;
  border: 1px solid orange;
}

.section-top-left {
  width: 72vw;
  height: 90vh;
  float: left;
  border: 1px solid greenyellow;
}

.section-top-left-top {
  width: 72vw;
  height: 20vh;
  border: 1px solid red;
}


.section-top-right {
  width: 25vw; /* edit this to 28 */
  height: 90vh;
  float: left;
  border: 1px solid aquamarine;
}

/* -------------- DASHBOARD FOOTER -------------- */

.section-bottom {
  width: auto;
  height: 10vh;
  border: 1px solid blue;
}

.dashboard-title {
  font-size: 40px;
  width: auto;
  white-space: nowrap;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid yellow;
}

.external-links {
  float: right;
  margin-top: 10px;
  border: 1px solid red;
}

.external-link {
  font-size: 16px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid greenyellow;
}

.external-link a {
  color: white;
  text-decoration: none;
}

.external-link a:hover {
  color: #FFAF21;
}

.external-link img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.external-link a img:last-child {
  display: none;
}
.external-link a:hover img:last-child {
  display: inline-block;
}
.external-link a:hover img:first-child {
  display: none;
}

.external-link-text {
  margin-left: 3px;
  display: inline-block;
}


/* -------------- SMALLER SCREEN -------------- */

@media only screen and (max-width: 950px) {

  .section-bottom {
    position: absolute;
    top: 0px;
  }

  .external-links {
    float: none;
    margin-top: 10px;
    border: 1px solid red;
  }

  .section-top {
    margin-top: 110px;
  }

}